.monitoring-main a{
	text-decoration: none;
	color: #393939;
}

.monitoring-main strong{
	font-size: 16pt;
}

.monitoring-main .option-box{
	width: 180px;
	height: 180px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #C1C1C1FF;
	border-radius: 20%;

	color: #4F4F4FFF;
}

.monitoring-border-top {
	border-top: 2px solid #3195CD;
}

.monitoring-head-text{
	font-size: 14pt;
}

.monitoring-border-bottom{
	border-bottom: 2px solid #3195CD;
	padding-right: 10px;
}

.monitoring-table thead th{
	padding-top: 1px;
	padding-bottom: 1px;
	background: rgba(68, 102, 187, .05);
	border-bottom: 2px solid #3195CD;
}

.datos_generales_p {
	font-weight: bold;
}

.datos_generales_p label{
	margin-bottom: 0;
	font-style: italic;
	font-weight: normal;
}

.active{
	background: none !important;
}

/* Gauge */
.wrapper {
  display: flex;
  margin: 0 auto;
  border-radius: 6px;
  height: 100%;
  justify-content: center;
}

.gauge {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #e7e7e7;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.09), 0 0 35px 5px rgba(255, 255, 255, 0.29);
  width: 140px;
  height: 75px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
  /* safari fix */
  -webkit-transform-style: flat;
  -webkit-transform: translateZ(0px);
}
.gauge.min-scaled {
  transform: scale(0.5);
}

.gauge-center {
  content: '';
  color: #fff;
  width: 60%;
  height: 60%;
  background: #15222E;
  border-radius: 100px 100px 0 0;
  position: absolute;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  right: 21%;
  bottom: 0;
  color: #fff;
}
.gauge-center label{
  position: relative;
  left: -25%;
}

.gauge-center::before {
  content: '';
  font-size: 1.5em;
  width: 100%;
  padding: 15px 0 0px 0;
  text-align: center;
  float: left;
  -webkit-font-smoothing: antialiased;
}
.gauge-center::after {
  content: '';
  width: 100%;
  float: left;
  opacitY: .6;
  text-align: center;
  padding-top: -5px;
}

.needle {
  width: 60px;
  height: 7px;
  background: #15222E;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 5px;
  position: absolute;
  bottom: 4px;
  left: 10px;
  transform-origin: 100% 4px;
  /*animation: speed 5s infinite;*/
  transform: rotate(90deg);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
}

.slice-colors .st {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 0;
  border-bottom: 80px solid #000;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.slice-colors .st.slice-item:nth-child(1) {
  border-bottom-color: #1eaa59;
  left: -2px;
}
.slice-colors .st.slice-item:nth-child(2) {
  border-bottom-color: #9baa1e;
  transform: rotate(140deg);
  transform-origin: right;
  top: -2px;
  left: -60px;
}
.slice-colors .st.slice-item:nth-child(3) {
  border-bottom-color: #f1c40f;
  transform: rotate(179deg);
  transform-origin: right;
  top: -20px;
  left: -62px;
  border-bottom-width: 90px;
  border-left-width: 45px;
  border-right-width: 45px;
  width: 18px;
}
.slice-colors .st.slice-item:nth-child(4) {
  border-bottom-color: #e67e22;
  transform: rotate(219deg);
  transform-origin: right;
  top: -23px;
  left: 25px;
}
.slice-colors .st.slice-item:nth-child(5) {
  border-bottom-color: #E84C3D;
  transform: rotate(248deg);
  transform-origin: right;
  right: 45px;
  bottom: -18px;
}

/*@-webkit-keyframes speed {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(170deg);
  }
  75% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes simplePulse {
  from {
    opacity: .4;
  }
  to {
    opacity: .98;
  }
}*/